
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Company_Software_Project_Documentation.Models.Article;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
        <p class="card-text">@Model.DateTime</p>
        <p class="card-text">Part of the project: @Model.Project?.Title?.ToString() </p>

        @if (Model.User != null)
        {
            <strong><i class="bi bi-person"></i>@Model.User.ToString()</strong>
        }

        <br/>
        <br/>

        @if (ViewBag.afisareButoane != null && ViewBag.afisareButoane == true && Model.UserId == ViewBag.userCurent || ViewBag.esteAdmin == true)
        {
            <a href="@Url.Action("Edit", "Articles", new { id = Model.Id })" class="btn btn-primary">Edit</a>

            <form method="post" action="/Articles/Delete/@Model.Id" class="d-inline">
                <button class="btn btn-danger" type="submit">Sterge Articol</button>
            </form>
        }
    </div>
</div>