@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Company_Software_Project_Documentation.Models.Project

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Description</h6>
        <span class="alert-success">
            <p class="card-text">@Model.DateTime</p>
        </span>
        <br />
        <br />
        <p class="card-text">Created by: @Model.User?.ToString() </p>


        <a href="@Url.Action("Show", "Projects", new { id = Model.Id })" class="btn btn-primary">Details</a>

        @if (ViewBag.afisareButoane != null && ViewBag.afisareButoane == true && Model.UserId == ViewBag.userCurent || ViewBag.esteAdmin == true)
        {
            <a href="@Url.Action("Edit", "Projects", new { id = Model.Id })" class="btn btn-primary">Edit</a>

            <form method="post" action="/Projects/Delete/@Model.Id" class="d-inline">
                <button class="btn btn-danger" type="submit">Sterge Proiect</button>
            </form>
        }

    </div>
</div>