@model List<Company_Software_Project_Documentation.Models.UserDTO>

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}


<style>
    .user-card {
        transition: transform 0.2s ease-in-out;
        border-radius: 15px;
        overflow: hidden;
    }

        .user-card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }
</style>

<div class="container mt-4">
    <h2 class="mb-4">User List</h2>

    <div class="row">
        @foreach (var userDto in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card user-card
                    <img src="https://avatar.iran.liara.run/public" class="card-img-top" alt="User Profile Image">
                    <div class="card-body">
                        <h5 class="card-title">@userDto.UserName</h5>
                        <p class="card-text">Email: @userDto.Email</p>
                        <p class="card-text">Role: @userDto.Role</p
                        <a href="@Url.Action("EditUser", "AdminPage", new { id = userDto.Id })" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<h2 class="mt-4">Article List</h2>
<table class="table article-table">
    <thead>
        <tr>
            <th>Titlu</th>
            <th>Numele Proiectului</th>
            <th>Timp</th>
            <th>Creator</th>
            <th>Protejat</th>
            <th>Actiune</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in ViewBag.Articles)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Show", "Articles", new { id = article.Id })">
                        @article.Title
                    </a>
                </td>
                <td>@article.Project.Title</td>
                <td>@article.DateTime</td>
                <td>@article.User.UserName</td>
                <td>@(article.IsProtected ? "Yes" : "No")</td>
                <td>
                    <form asp-controller="AdminPage" asp-action="ToggleProtection" method="post">
                        <input type="hidden" name="id" value="@article.Id" />
                        <button type="submit" class="btn btn-sm btn-primary">Toggle Protection</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
