@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{
}

@model Company_Software_Project_Documentation.Models.Article

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<h2 class="text-center mt-5">Adaugare articol</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "New", controllerName: "Articles"))
            {
                @Html.ValidationSummary()

                @Html.Label("Title", "Titlu Articol")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                <br />

                <br />
                @Html.Label("Content", "Continut Articol")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })
                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br />

                <br />
                <label>Selectati proiectul din care sa faca parte articolul</label>

                @if (ViewBag.Projects != null)
                {
                    @Html.DropDownListFor(m => m.ProjectId, new SelectList(ViewBag.Projects, "Value", "Text"), "Selectati proiectul", new { @class = "form-control" })
                }
                else
                {
                    <p class="text-danger">No projects available.</p>
                }

                @Html.ValidationMessageFor(m => m.ProjectId, null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" action="post" type="submit">Adauga articolul</button>

                @Html.Hidden("Id", Model.Id)
            }
        </div>
    </div>
</div>